:root {
  --htag-colors: rgba(0, 0, 0, 0.7);
  --ptag-colors: #3a4f65;
}

/*header*/

.logo {
  height: 51px;
  width: 51px;
}

.logo img {
  height: 100%;
}

.left-nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.vl {
  border-left: 1.2px solid #ededed;
  height: 50px;
  margin-left: 35px;
  margin-right: 35px;
}

.phone-id {
  font-weight: bolder;
  color: #28344a;
  font-size: 14px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
}

.phone-id i {
  padding-right: 8px;
  cursor: pointer;
}

.center-nav {
  color: #495263;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 100%;
}

.center-nav nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.center-nav li {
  padding-left: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.center-nav li:hover {
  text-decoration: underline;
  color: #001439;
}

.right-nav {
  display: flex;
  align-items: center;
}

.log-in {
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.2s ease;
}

.log-in:hover {
  color: var(--htag-colors);
  cursor: pointer;
}

.get-started {
  padding: 7px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #eef0f2;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.2s ease;
}

.get-started:hover {
  border-color: var(--htag-colors);
  cursor: pointer;
}

/* header End */

/* Hero Section Start */

.hero {
  display: flex;
  background-color: #ebf9ff;
  display: flex;
  height: 750px;
  left: 60px;
  right: 60px;
  border-radius: 12px;
}

.left-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-right-section .text {
  margin-left: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  flex: 1;
  flex-basis: 50%;
}

.left-right-section .text h1 {
  line-spacing: 5px;
  font-size: 50px;
}

.left-right-section .text p {
  color: var(--ptag-colors);
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  width: 60%;
}

.left-right-section .image {
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-right-section .image img {
  display: flex;
  align-items: right;
  width: 100%;
}

.hero-btn-container {
  display: flex;
  align-items: center;
}

.hero-btn-container a {
  text-decoration: none;
}

.hero-btn {
  display: inline-block;
  border-radius: 10px;
  background-color: #001439;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.hero-btn:hover {
  border-color: var(--htag-colors);
  cursor: pointer;
}

.play-btnn {
  z-index: 999;
  display: inline-block;
  border-radius: 10px;
  color: var(--htag-colors);
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  transform: translateX() translateY();
}

.play-btnn i {
  margin-right: 10px;
}

.play-btnn:before {
  content: "";
  position: absolute;
  z-index: 0;
  transform: translateX() translateY();
  margin-top: 9px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  background: #00c3ff;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* Hero Section End */

/* Features Section  Start*/

.features {
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 100px;
}

.features .features-headpara h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.0015em;
  color: #293752;
}

.para-btn {
  display: flex;
}

.para-btn a {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #28344a;
  text-decoration: none;
  margin-left: auto;
  align-self: flex-end;
}

.features .para-btn p {
  margin-top: 25px;
  max-width: 30%;
  font-weight: 400;
}

.para-btn a:hover {
  color: var(--htag-colors);
  text-decoration: underline;
}

.para-btn i {
  font-size: 0.73em;
  margin-left: 6px;
  align-items: center;
  justify-content: center;
}

.row-features {
  display: flex;
  flex-flow: row wrap;
  margin: 5px 0;
  margin-bottom: 55px;
}

.row-features h2 {
  color: #152137;
}

.row-features p {
  margin-top: 15px;
  color: #616e7c;
}

.column-feature {
  flex: 1;
  border: 1.5px solid #f1f4f5;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 5px;
  margin-top: 55px;
  padding: 55px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-in-out;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.column-feature i {
  margin-bottom: 55px;
  padding: 30px;
  border-radius: 50%;
  font-size: 24px;
}

.column-feature:hover {
  box-shadow: 0px 30px 80px 0 rgba(20, 52, 92, 0.2);
  border-radius: 5px;
  border-color: #fff !important;
  background-color: #fff !important;
}

@media screen and (max-width: 600px) {
  .column-feature {
    width: 100%;
  }
}

/* Features Section  End*/

/* Plan Highlights Start */

.plan-highlight {
  display: flex;
  margin-top: 150px;
  margin-right: 120px;
  margin-left: 120px;
}

.image-planhighlight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-right-section .text-planhighlight {
  margin-left: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  flex: 1;
  flex-basis: 50%;
}

.left-right-section .text-planhighlight h1 {
  margin-top: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.0015em;
  color: #293752;
}

.left-right-section .text-planhighlight h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5em;
  text-transform: uppercase;

  color: #8457eb;
}

.left-right-section .text-planhighlight p {
  color: var(--ptag-colors);
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  width: 75%;
}

.left-right-section nav {
  margin-top: 30px;
}

/* Plan Highlights End */
